.footer {
  padding: 20px 30px;
  border-top: 1px solid var(--ghoneim-red);
  display: flex;
  align-items: center;
}

@media print {
  .footer {
    display: none;
  }
}

.githubLink {
  display: block;
  margin-left: auto;
}
