.container {
  margin-top: 20px;
  padding: 30px 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 425px) {
  .container {
    flex-direction: column;
  }
}
