.main {
  animation: appear4 1s;
  animation-delay: 400ms;
  animation-fill-mode: forwards;
  opacity: 0;
  transform: translateY(10px);
}

@keyframes appear4 {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.link {
  font-size: 20px;
  padding: 10px;
  border: 2px solid var(--ghoneim-red);
  user-select: none;
  text-decoration: none;
  cursor: pointer;
  color: black;
  display: block;
  width: fit-content;
  margin: 0 auto 50px;
}
