html,
body {
  padding: 0;
  margin: 0;
  font-family: "Red Hat Display", sans-serif;
}

* {
  box-sizing: border-box;
}

:root {
  --ghoneim-red: #c52d30;
}

@media (max-width: 1000px) {
  html {
    font-size: 0.8rem;
  }
}
